:root {
    color-scheme: light dark;
    --text: #000;
    --bg: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #fff;
        --bg: #000;
    }
}

body {
    color: var(--text);
    background-color: var(--bg);
}